language: node_js

cache:
  yarn: true

node_js:
  - "8"
  - "10"
  - "11"

script:
  - yarn ci
  - yarn build

branches:
  except:
    - gh-pages

deploy:
  - provider: npm
    skip_cleanup: true
    email: uma.karimov@gmail.com
    api_key:
      secure: $NPM_TOKEN
    on:
      tags: true
      branch: master
      repo: umidbekkarimov/react-flag-kit

  - provider: pages
    skip_cleanup: true
    github_token: $GITHUB_TOKEN
    local_dir: build
    on:
      branch: master
      repo: umidbekkarimov/react-flag-kit
