name: Main

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  checks:
    runs-on: ubuntu-latest

    steps:
      - uses: styfle/cancel-workflow-action@0.9.1
      - uses: actions/checkout@v2
      - uses: umidbekk/actions/npm/install@v1

      - run: yarn tsc
      - run: yarn format --check --no-write
      - run: yarn test
      - run: yarn build
